@charset "utf-8";
/*==================================================================
	result
===================================================================*/

.page-title h2.h2jp {
    font-size: 5.5rem;
    letter-spacing: 0.1em;
}

.iframe{width: 100%;
	min-height: 100vh;
}
